<%- include('./../partials/header.ejs') %>
        
        <h1>About</h1>
        <p>Felix Cenusa, fece23</p>
        <p>TimeToMove is a simple web application that allows users to create boxes to store files in. Each box can be public or private, and users can share their boxes with others. Users can also view other users' profiles and boxes.</p>
        <h2>Github Repository</h2>
        <p><a href="https://github.com/FelixCenusa/FelixCenusa.github.io"> > Github Repository</a></p>
<%- include('./../partials/footer.ejs') %>
