<%- include('./../partials/header.ejs') %>

<h1>Hi Welcome to the TimeToMove helper!</h1>
<h2>What is TimeToMove?</h2>
<p>TimeToMove is a simple web application that allows users to create boxes to store files in. Each box can be public or private, and users can share their boxes with others. Users can also view other users' profiles and boxes.</p>
<h2>How to Use TimeToMove</h2>
<p>TimeToMove is easy to use. Simply register for an account, log in, and start creating boxes to store your files in. You can also view other users' profiles and boxes, and share your boxes with others.</p>
<h2>Features</h2>
<ul>
    <li>Register for an account</li>
    <li>Log in to your account</li>
    <li>Create boxes to store files in</li>
    <li>View other users' profiles and boxes</li>
    <li>Share your boxes with others</li>
</ul>
<h2>Get Started</h2>
<p>Ready to get started? <a href="/register">Register for an account</a> or <a href="/login">log in</a> to your existing account to start using TimeToMove today!</p>



<hr>


<%- include('./../partials/footer.ejs') %>
