<%- include('./../partials/header.ejs') %>

<h1>Reset Your Password</h1>

<form action="/resetPassword" method="POST">
    <input type="hidden" name="token" value="<%= token %>" required>

    <div>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="password" required>
    </div>

    <button type="submit">Reset Password</button>
</form>

<%- include('./../partials/footer.ejs') %>
