<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Test site change soon</title>
  <link rel="stylesheet" href="./style/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul>
    <li><a href="/" data-text="Home">Home</a></li>
    <li><a href="/test" data-text="Test">Test</a></li>
    <li><a href="/welcome" data-text="Welcome">Welcome</a></li>
    <li><a href="/all_users" data-text="All_Users">All_Users</a></li>
    <li><a href="/login" data-text="Login">Login</a></li>
    <li><a href="/leaderboard" data-text="Leaderboard">Leaderboard</a></li>
  </ul>
<!-- partial -->
  
</body>
</html>
