<%- include('./../partials/header.ejs') %>

<h1>Welcome to TimeToMove!</h1>

<div class="menu">
    <ul>
        <li><a href="/register" data-text="Register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>
</div>

<%- include('./../partials/footer.ejs') %>
